<h4>Location:  {{fullLocation}}</h4>

<ul>
  {{#each sortedRentals as |rental|}}
  <li>
    {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}}{{/link-to}} {{rental-cost rental}}
  </li>
  {{/each}}
</ul>
<button class="btn btn-sm btn-danger" name="button" {{action 'destroyCity' city}}>Delete City</button>
